<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
</head>
<body>

    <h2>전체 게시글 목록 📚</h2>
    
    <!-- 게시글을 표(테이블) 형태로 보여줍니다 -->
    <table border="1">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            <!-- 타임리프의 반복문(th:each)! DB에서 꺼낸 list를 하나씩 반복해서 표를 만듭니다 -->
            <tr th:each="crud : ${list}">
                <td th:text="${crud.id}">1</td>
                <!-- 제목을 클릭하면 상세 페이지로 이동하도록 링크를 겁니다 -->
                <td>
                   <a th:href="@{/view(id=${crud.id})}" th:text="${crud.title}">여기에 제목이 들어갑니다</a>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <a href="/write">새 글 작성하기</a>
</body>
</html>